@model Project

<div class="modal fade" id="deleteProject">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectLabel">Delete Project</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="DeleteProject" method="post">
                    <div class="form-group">
                        <button type="submit" name="cancelDelete" value="CancelDelete">Cancel</button>
                        <button type="submit" name="confirmDelete" vaue="ConfirmDelete">Confirm Delete</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>