@{ 
    ViewBag.Title = "Swatter - Add Ticket";
    ViewBag.CardTitle = "Create Ticket";
    ViewBag.ButtonLabel = "Add Ticket";
    ViewBag.Action = "NewTicket";
    ViewBag.FormId = "newTicket";
}
<div class="container-fluid">
    <a class="btn btn-outline-secondary mt-4 ml-4 mr-2"
       asp-controller="Projects"
       asp-action="ProjectDetails"
       asp-route-projectId="@Model.TicketModel.ProjectId">Back to Project Details</a>
    @await Html.PartialAsync("_TicketPartial")
</div>