@{
    ViewBag.Title = "Swatter - Edit Project";
}
@model BugTracker.Models.CommonViewModels.UserProjectModel
<div class="container-fluid">
    <div>
        <a class="btn btn-outline-secondary mt-2" asp-action="ProjectDetails" asp-route-projectId="@Model.ProjectModel.Id">Back to Project Details</a>
    </div>
    @await Html.PartialAsync("_ProjectPartial")
</div>