@{ 
    ViewBag.Title = "Swatter - Create New Project";
}
@model BugTracker.Models.CommonViewModels.UserProjectModel
<div class="container-fluid">
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <h2>Create New Project</h2>
        </div>
        <div class="card-body">
            <form asp-action="NewProject" id="newProjectForm">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label asp-for="ProjectModel.Title">Title</label>
                            <input asp-for="ProjectModel.Title" class="form-control" type="text" placeholder="Enter a Title" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ProjectModel.Description">Description (0-100 Characters)</label>
                            <textarea asp-for="ProjectModel.Description" class="form-control" maxlength="100" form="newProjectForm"></textarea>
                        </div>
                    </div>
                    <div class="col-5">
                        <select multiple asp-for="ProjectModel.ProjectUsers" asp-items="@(new SelectList(Model.UserModel.Users, "Id", "FullName"))" style="width:75%" size="5">
                        </select>
                    </div>
                </div>
                <input type="hidden" asp-for="ProjectModel.Creator" value="@User" />
                <input type="hidden" asp-for="ProjectModel.CreateDate" value="@System.DateTime.Now" />
            </form>
        </div>
    </div>
</div> 