@{
    ViewBag.Title = "Swatter - Create New Project";
}
@model BugTracker.Models.CommonViewModels.UserProjectModel
<div class="container-fluid">
    <div>
        <a class="btn btn-outline-secondary mt-4 ml-4" asp-action="Index">Back to Projects</a>
    </div>
    @await Html.PartialAsync("_ProjectPartial")
</div>