@{
    Layout = null;
}
@model BugTracker.Models.Account.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Registration Page" />
    <meta name="author" content="" />
    <title>Swatter - Register</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form asp-action="Register">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="FirstName">First Name</label>
                                                    <input class="form-control py-4" asp-for="FirstName" type="text" placeholder="Enter first name" />
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="LastName">Last Name</label>
                                                    <input class="form-control py-4" asp-for="LastName" type="text" placeholder="Enter last name" />
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" asp-for="Username">Username</label>
                                            <input class="form-control py-4" asp-for="Username" type="text" placeholder="Enter Username" value="" />
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" asp-for="Email">Email Address</label>
                                            <input class="form-control py-4" asp-for="Email" type="email" placeholder="Enter Email Address" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="Password">Password</label>
                                                    <input class="form-control py-4" asp-for="Password" type="password" placeholder="Enter password" value="" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" asp-for="ConfirmPassword">Confirm Password</label>
                                                    <input class="form-control py-4" asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @if (ViewData.ModelState["InvalidPassword"] != null)
                                        {
                                            @if (ViewData.ModelState["InvalidPassword"].Errors.Count > 0)
                                            {
                                                <div class="text-danger">
                                                    <ul>
                                                        <li style="font-size:12px">Minimum of 8 Characters</li>
                                                        <li style="font-size:12px">Requires at least 1 Number</li>
                                                        <li style="font-size:12px">Requires at least 1 Special Character</li>
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        <div class="form-group mt-4 mb-0">
                                            <button class="btn btn-primary btn-block" type="submit">Register</button>
                                        </div>
                                        <!--<div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="login.html">Create Account</a></div>-->
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a asp-area="" asp-controller="Account" asp-action="Login">Have an account? Login here!</a></div>
                                    <div class="small"><a asp-area="" asp-controller="Account" asp-action="DemoLogin">Login as a Demo User.</a></div>
                                    <div class="small" style="float:right; font-size:smaller"><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
</body>
</html>
